<div class="row">
  <div class="col-xs-12">
    <app-shopping-list-edit></app-shopping-list-edit>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
      <ul class="list-group" *ngFor="let ingredient of ingredients">
        <a href="#" class="list-group-item list-group-item-action mb-2 shadow-sm">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">{{ingredient.name}}</h6>
            <small>({{ingredient.amount}})</small>
          </div>
        </a>
      </ul>
    </div>
</div>




