<div class="row">
  <div class="col-xs-12">
    <app-shopping-list-edit (onIngredientAdded)=onIngredientAdded($event)></app-shopping-list-edit>
  </div>
</div>

<hr>

<ul class="list-group">
  <li class="list-group-item shadow rounded-sm mb-4" *ngFor="let ingredient of ingredients">
    <div class="row">
      <div class="col-md">
        <h5>{{ingredient.name}} </h5>
      </div>
      <div class="col-md">
        <h6>({{ingredient.amount}})</h6>
      </div>
      <div class="col-md">
        <a class="btn mr-auto" href="#" title="delete item">
          <i class="bi bi-trash" (click)="onIngredientRemove(ingredient.id)"></i>
        </a>
      </div>
    </div>
  </li>
</ul>




