<div class="row">
  <div class="col-12">
    <div class="card rounded-sm shadow" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Recipe title</h5>
        <p class="card-text">
          <small>Recipe Description</small>
        </p>
        <div>
          <hr>
          <div class="row">
            <div class="col-2 float-left">
              <span>
                 <a class="btn" role="button" title="Show Ingredients" href="#"><i class="bi bi-card-list"></i></a>
              </span>
            </div>
            <div class="col-10">
              <div class="btn-group float-right">
                <a class="btn" role="button" title="Add recipe to cart" href="#"><i class="bi bi-cart-plus"></i></a>
                <a class="btn" role="button" title="Edit recipe" href="#"><i class="bi bi-pencil-square"></i></a>
                <a class="btn" role="button" title="Delete recipe" href="#"><i class="bi bi-trash"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
