<div class="row">
  <div class="col-12">
    <div class="card rounded-sm shadow" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Recipe title</h5>
        <p class="card-text">
          <small>Recipe Description</small>
        </p>
        <hr>
         <div class="ml-auto">
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Options
             </a>
           <ul class="dropdown-menu pull-right" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="#">Add Recipe to shopping list</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Edit Recipe</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Delete Recipe</a>
           </ul>
           </li>
         </div>
      </div>
    </div>
  </div>
</div>
